@charset "utf-8";
/* CSS Document */
body,div,ul,li,a,h1,h2,h3,h4,dd,dt,dl,h5,h6,span,b,p,strong,form,input{ margin:0; padding:0;}
li{ list-style:none;}
a{ color:#191919; text-decoration:none;}
a:hover{ color:#ff4400;}
img{ border:0 none; vertical-align:top;}
body{ font-family:"宋体"; font-size:12px; background:url(../images/bg.jpg); min-width: 990px;}
.clearfix{ *zoom:1;}
.clearfix:after{ content:"."; display:block; visibility:hidden; clear:both; height:0;}

.header{ width:1003px; height:auto; border-top:4px solid #7f7f7f; margin:0 auto; ;}
.header-logo{ float:left; width:230px; height:84px; border-right:1px solid #c4c4c4;}
.header-you{ float:left; width:772px; height:80px; background:url(../images/css1.png) no-repeat #FFF;}
.header-you-daohang{ float:left; width:auto; margin-top:39px; height:41px;}
.header-you-daohang li{ float:left; width:97px; height:41px; font-size:13px; text-align:center; line-height:41px; font-weight:bold; color:4d4c4c; background:url(../images/header-you-bg.png) no-repeat right top;}
.header-you-shang1{ float:right; width:61px; height:13px; font-size:12px;  line-height:12px; margin:15px 13px 0 0; color:a3a2a2; padding-left:11px;}
.header-you-shang2{ float:right; width:61px; height:13px; font-size:12px;  line-height:12px; margin-top:15px; color:a3a2a2; border-right:1px solid #a3a2a2;}
/*.header-bottom{ float:left; width:1003px; height:3px; background:url(../images/css1.png) no-repeat 0 -95px; margin:0 auto;}*/
.flash{ width:1003px; height:317px; margin:0 auto;}

.zhongjian{ width:1003px; height:auto; border-top:1px solid #dedfe4; margin:1px auto 0; padding-top:26px;  background:url(../images/css1.png) no-repeat  0px -349px #FFF;}

.zhongjian-daohang{ float:left; width:188px; height:auto;}
.zhongjian-daohang-logo{ float:left; width:188px; height:29px; background:url(../images/css1.png) no-repeat 1px -137px; margin-bottom:13px;}
.zhongjian-daohang-logo-1{ float:left; width:57px; height:29px; font-size:13px; text-align:center; line-height:29px; color:#1952c6; font-family:"微软雅黑"; margin:0 16px 0 25px; font-weight:bold;}
.zhongjian-daohang-logo-2{ float:left; width:87px; height:29px; line-height:29px; color:#9a9a9a; font-weight:bold;}
.zhongjian-daohang-lianjie{ float:left; width:188px; height:auto;}
.zhongjian-daohang-lianjie a{ display:block; width:186px; height:24px; background:url(../images/css1.png) no-repeat -1px -301px; border:1px solid #ccc9c9; font-weight:bold; color:#000; margin-bottom:3px; line-height:24px; text-align:center;}
.zhongjian-daohang-lianjie-img{ float:left; width:184px; height:70px; padding:1px; border:1px solid #ccc9c9;}
.zhongjian-daohang-text{ float:left; width:188px; height:auto; margin-top:10px;}
.zhongjian-daohang-text li{ width:187px; height:27px; line-height:27px; margin-left:1px; }

.zhongjian-zhong{ float:left; width:556px; height:auto; margin:0 23px 27px 37px;}
.zhongjian-gongsijianjie-logo{ float:left; width:556px;height:29px; background:url(../images/css1.png) no-repeat 0px -194px; margin-bottom:0px;}
.zhongjian-gongsijianjie-logo-1{ float:left; width:57px; height:29px; font-size:13px; text-align:center; line-height:29px; color:#1952c6; font-family:"微软雅黑"; margin:0 16px 0 25px; font-weight:bold;}
.zhongjian-gongsijianjie-logo-2{ float:left; width:87px; height:29px; line-height:29px; color:#9a9a9a; font-weight:bold;}
.zhongjian-gongsijianjie-logo-3{ float:right; width:49px; height:29px; line-height:29px; color:#000;}
.zhongjian-gongsijianjie-img{ float:left; width:149px; height:160px;}
.zhongjian-gongsijianjie-p{ float:left; width:400px; height:145px; line-height:22px; text-indent:2em; margin-top:15px;}

.zhongjian-chanpinjianjie{ float:left; width:540px; height:auto; overflow:hidden;}
.zhongjian-chanpinjianjie-img{ width:120%; height:auto;}
.zhongjian-chanpinjianjie-img li{ float:left; width:127px; height:auto; margin:19px 7px 0 14px;}
.zhongjian-chanpinjianjie-img li img{ display:block; width:125px; height:125px; border:1px solid #d3d3d3;}
.zhongjian-chanpinjianjie-img li span{ display:block; width:127px; height:25px; text-align:center; line-height:25px;}

.zhongjian-hangyezixun{ float:left; width:199px; height:auto;}
.zhongjian-hangyezixun-img{ float:left; width:190px; height:190px; padding:3px; border:1px solid #d3d3d3; margin-top:10px;}
.zhongjian-hangyezixun-text{ float:left; width:190px; height:auto; margin:15px 0 0 5px;}
.zhongjian-hangyezixun-text li{ position:relative; width:190px; height:25px; color:#777676; line-height:25px; padding-left:15px;}
.zhongjian-hangyezixun-text li i{ position:absolute; left:0px; top:10px; width:0; height:0; border:3px solid #777676; border-color:transparent transparent transparent #777676; }

.xiabu{ width:1003px; height:auto; border-top:7px solid #e2e1e1; padding-bottom:19px; padding-top:13px; margin:0 auto;}
.xiabu-1{ width:1003px; height:22px; line-height:22px; text-align:center;}

.chanpinjijie-xiangqing{ float:left; width:778px; height:auto; background:url( ../images/chanpin-bg.jpg) no-repeat top; margin-left:37px; padding-bottom:18px;}
.chanpinjijie-xiangqing-header{ position:relative; width:258px; height:14px; margin:0 0 0px 15px; padding-left:14px; padding-bottom:12px;}
.chanpinjijie-xiangqing-header i{ position:absolute; left:0px; top:2px; width:0px; height:0px; border:6px solid #000; border-color:transparent transparent transparent #ea3724;}
.chanpinjijie-xiangqing-neirong{ width:778px; height:auto;}
.chanpinjijie-xiangqing-neirong li{ float:left; width:346px; height:143px; border-bottom:1px dashed #ececec; margin:18px 16px 0px 22px; color:#323232;}
.chanpinjijie-xiangqing-neirong li img{ float:left; width:125px; height:125px; border:1px solid #d3d3d3; margin-right:19px;}
.chanpinjijie-xiangqing-neirong li span{ float:left; width:190px; height:26px; line-height:26px; font-family:"微软雅黑"; font-size:18px; margin-bottom:8px;}
.chanpinjijie-xiangqing-neirong li p{ float:left; width:190px; height:auto; line-height:22px; font-family:"微软雅黑"; font-size:13px;}

.chanpinjijie-xiangqing-neirong-fanye{ float:left; text-align:center; width:100%; height:24px; padding:1px; margin-top:31px;}/*底部文字翻页*/
.chanpinjijie-xiangqing-neirong-fanye a{ display:inline-block; height:20px; width:auto; padding:3px 13px 3px 13px; background:#fff; color:#000; line-height:20px; border:1px solid #b6b5b5;}
.chanpinjijie-xiangqing-neirong-fanye a:hover,.chanpinjijie-xiangqing-neirong-fanye .neirong-fanye1{ background:#ea3724; color:#fff;}

.lianxiwomen-xiangqing{ float:left; width:778px; height:auto; background:url( ../images/chanpin-bg.jpg) no-repeat top; margin-left:37px;}
.lianxiwomen-xiangqing-header{ position:relative; width:258px; height:14px; margin:0 0 0px 15px; padding-left:14px; padding-bottom:15px;}
.lianxiwomen-xiangqing-header i{ position:absolute; left:0px; top:2px; width:0px; height:0px; border:6px solid #000; border-color:transparent transparent transparent #ea3724;}
.lianxiwomen-xiangqing-header1{ width:100px; height:43px; line-height:43px; font-size:14px; font-weight:bold; margin-left:22px;}
.lianxiwomen-xiangqing-img{ display:block; width:532px; height:245px; padding:5px; border:1px solid #e1dddd; margin-left:32px; margin-bottom:11px;}
.lianxiwomen-xiangqing-text{ float:left; width:188px; height:auto; margin-top:10px; margin-left:24px; margin-bottom:27px;}
.lianxiwomen-xiangqing-text li{ width:187px; height:27px; line-height:27px; margin-left:1px; }

.hangyezixun-xiangqing{ float:left; width:778px; height:auto; background:url( ../images/chanpin-bg.jpg) no-repeat top; margin-left:37px; padding-bottom:48px;}
.hangyezixun-xiangqing-header{ position:relative; width:258px; height:14px; margin:0 0 0px 15px; padding-left:14px; padding-bottom:15px;}
.hangyezixun-xiangqing-header i{ position:absolute; left:0px; top:2px; width:0px; height:0px; border:6px solid #000; border-color:transparent transparent transparent #ea3724;}
.hangyezixun-xiangqing-text{ width:715px; height:auto; margin:25px 0 0 20px;}
.hangyezixun-xiangqing-text li{ width:709px; height:39px; padding-left:6px; border-bottom:1px dotted #9e9c9c;}
.hangyezixun-xiangqing-text li a{ float:left; width:513px; height:39px; line-height:39px; color:#191919;}
.hangyezixun-xiangqing-text li a:hover{ color:#ff4400;}
.hangyezixun-xiangqing-text li span{ float:right;  width:68px; height:39px; text-align:right; line-height:39px; color:#8e8d8d;}

.xiangxiye-xiangqing{ float:left; width:778px; height:auto; background:url( ../images/chanpin-bg.jpg) no-repeat top; margin-left:37px; padding-bottom:43px;}
.xiangxiye-xiangqing-header{ position:relative; width:258px; height:14px; margin:0 0 0px 15px; padding-left:14px; padding-bottom:15px;}
.xiangxiye-xiangqing-header i{ position:absolute; left:0px; top:2px; width:0px; height:0px; border:6px solid #000; border-color:transparent transparent transparent #ea3724;}
.xiangxiye-xiangqing-text{ width:721px; height:auto; margin:46px 0 0 23px;}
.xiangxiye-xiangqing-text h3{ float:left; width:700px; height:16px; font-size:14px; font-weight:bold; text-align:center; line-height:16px; color:#5e5a5a;}
.xiangxiye-xiangqing-text span{ float:left; width:700px; height:36px;  text-align:center; line-height:36px; color:#5e5a5a; margin-bottom:4px;}
.xiangxiye-xiangqing-text p{ float:left; width:700px; height:auto; line-height:22px; color:#5e5a5a; text-indent:2em; margin-bottom:9px;}




